    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<header>
    <nav class="main-navigation clearfix">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="menu-item-has-children">
                <a href="#">Categories</a>
                <ul class="sub-menu">
                    <li><a href="#">Phones</a></li>
                    <li><a href="#">Videocards</a></li>
                    <li><a href="#">Processors</a></li>
                </ul>
            </li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>
    <a href="#" class="small-menu-button" id="responsive-nav-button">Menu</a>
    <div class="responsive-nav clearfix"></div>
</header>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/main.js"></script>
</body>
<footer></footer>
</html>
